<body>
    
    <div class="forgot-password">
      <div class="logo-website">
        <a routerLink=""><img src="../../assets/logo.png" alt="Logo"></a>
      </div>
      <div class="loginpage">
        <div class="login-arrange">
          
          <form [formGroup]="forgotvalidate" (ngSubmit)="forgotvalidate.valid && forgotSubmit()">
            <div class="heading">
              <h1>Forgot Password</h1>
            </div>
    
            <!-- Email Field -->
            <div>
              <input type="email" placeholder="Enter Email ID" formControlName="email">
              <div *ngIf="forgotvalidate.controls['email'].errors?.['required'] && forgotvalidate.controls['email'].dirty">
                <small>Email ID is required</small>
              </div>
              <div *ngIf="forgotvalidate.controls['email'].errors?.['pattern']">
                <small>Enter a Valid Email ID</small>
              </div>
            </div>
    
            <!-- New Password Field -->
            <div class="control">
              <input type="password" placeholder="Enter New Password" formControlName="password" [type]="changes ? 'password' : 'text'">
              <div class="pass-icon">
                <i class="fa-solid" [ngClass]="{'fa-eye-slash': field, 'fa-eye': !field}" (click)="changeIcon()"></i>
              </div>
              <div *ngIf="forgotvalidate.controls['password'].errors?.['required'] && forgotvalidate.controls['password'].dirty">
                <small>Password is required</small>
              </div>
              <div *ngIf="forgotvalidate.controls['password'].errors?.['pattern']">
                <small>Password should contain 8 Characters</small>
              </div>
            </div>
    
            <!-- Confirm Password Field -->
            <div class="control">
              <input type="password" placeholder="Enter Confirm Password" formControlName="confirmpassword" [type]="changes1 ? 'password' : 'text'">
              <div class="pass-icon">
                <i class="fa-solid" [ngClass]="{'fa-eye-slash': field1, 'fa-eye': !field1}" (click)="changeIcon1()"></i>
              </div>
              <div *ngIf="forgotvalidate.controls['confirmpassword'].errors?.['required'] && forgotvalidate.controls['confirmpassword'].dirty">
                <small>Confirm Password is required</small>
              </div>
            </div>
    
            <!-- Update Password Button -->
            <div class="button">
              <button type="submit">Update Password</button>
            </div>
    
            <!-- Link to Login -->
            <div class="signup-nav">
              <p>Remember Password? <a (click)="loginpage()">Login</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
</body>
