<div class="about-us">
  <app-navbar></app-navbar>

  <div class="about-splash">
    <img src="../../../assets/aboutback1.webp" alt="Background Image">
    <div class="about-heading">
      <h1>About Us</h1>
    </div>
  </div>

  <div class="para-about">
    <p>Our journey began with a passion for style and a commitment to quality. What started as a small venture designing classic menswear quickly turned into a thriving online store, thanks to the trust and support of our amazing customers.</p>
  </div>

  <div class="about-cover">
    <div class="about-cover-details">
      <h1>Crafting Timeless Style. From Our Collection. For Your Confidence.</h1>
      <img src="../../../assets/aboutback.jpg" alt="Delightful Delights">
    </div>
  </div>

  <div class="design-heading">
    <h1>Our <span>Designs</span></h1>
  </div>

  <div class="cake-designs">
    <img src="../../../assets/about1.jpg" alt="Cake Design 1">
    <img src="../../../assets/about2.webp" alt="Cake Design 2">
    <img src="../../../assets/about3webp.webp" alt="Cake Design 3">
  </div>

  <app-footer></app-footer>
</div>
