<body>
    

    <div class="main-container">
        <div class="logo-website">
            <a routerLink="/"><img src="../../assets/logo.png" alt="Shop Logo"></a>
        </div>
        <div class="loginpage">
            <div class="login-arrange">
                
                <form [formGroup]="loginvalidate" (ngSubmit)="loginvalidate.valid && loginSubmit()">
                    <div class="heading">
                        <h1>Login</h1>
                    </div>
                    <div>
                        <input type="email" placeholder="Enter Email ID" formControlName="email">
                        <div *ngIf="loginvalidate.controls['email'].errors?.['required'] && loginvalidate.controls['email'].dirty">
                            <small>Email ID is required</small>
                        </div>
                        <div *ngIf="loginvalidate.controls['email'].errors?.['pattern']">
                            <small>Enter a valid Email ID</small>
                        </div>
                    </div>
                    <div class="control">
                        <input
                            type="password"
                            placeholder="Enter password"
                            formControlName="password"
                            [type]="field ? 'password' : 'text'"
                        >
                        <div class="pass-icon">
                            <i class="fa-solid" [ngClass]="{'fa-eye-slash': field, 'fa-eye': !field}" (click)="changeIcon()"></i>
                        </div>
                        <div *ngIf="loginvalidate.controls['password'].errors?.['required'] && loginvalidate.controls['password'].dirty">
                            <small>Password is required</small>
                        </div>
                        <div *ngIf="loginvalidate.controls['password'].errors?.['pattern']">
                            <small>Password should contain at least 8 characters</small>
                        </div>
                    </div>
                    <div class="button">
                        <button type="submit">Login</button>
                    </div>
                    <div class="forgot">
                        <a routerLink="/forgotpassword">Forgot password?</a>
                    </div>
                    <div class="signup-nav">
                        <p>Don't have an account? <a (click)="registerPage()">Sign up</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
